option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: "wannacrydjango.settings"
    PYTHONPATH: "/opt/python/current/app/wannacrydjango:$PYTHONPATH"
    ALLOWED_HOSTS: "valhalla-app-dev.us-west-1.elasticbeanstalk.com"
  aws:elasticbeanstalk:container:python:
    WSGIPath: wannacrydjango/wannacrydjango/wsgi.py
    StaticFiles: /static/=static/