{% extends 'quiz/base.html' %}

{% block content %}
   <div class="jumbotron">
       <h2>Use Your Existing Solutions Like a Cybersecurity Expert In 30 Minutes</h2>
       <p class="lead">It's like TurboTax for Information Security: Answer a few questions and the system guides you towards a
           measurably more secure network with the security products you already have.</p>
       <p>Benefits:</p>
       <ul><b>
           <li>Achieve stronger defense against attacks targeting your network</li>
           <li>Work independently, no need for external consultants</li>
           <li>Half an hour each week is all you need to spend</li>
           <li>Prevent ransomware, data theft, phishing and more</li>
       </b></ul>
   </div>
   <div class="container">
       <div class="row">
           <div class="col-md-4">
               <div class="panel-group">
                   <div class="panel panel-default">
                       <div class="panel-heading">
                           <h2 class="panel-title">
                           <a data-toggle="collapse" href="#collapse-vm">Vulnerability Management</a>
                           </h2>
                       </div>
                       <div id="collapse-vm" class="panel-collapse collapse">
                           <div class="panel-body">
                               <a href="/drill/1/1">Basic Workstation Inventory</a>
                           </div>
                           <div class="panel-body">
                               <a href="/drill/notorious-vulnerabilities/1">Notorious Vulnerabilities</a>
                           </div>
                           <div class="panel-body">
                               <a href="#">Unsupported Software (Coming Soon)</a>
                           </div>
                           <div class="panel-body">
                               <a href="#">Internal vs. External vs. Cloud (Coming Soon)</a>
                           </div>
                           <div class="panel-body">
                               <a href="#">High Risk External Issues (Coming Soon)</a>
                           </div>
                           <div class="panel-body">
                               <a href="#">Exposed Services (Coming Soon)</a>
                           </div>
                           <div class="panel-body">
                               <a href="#">Client-side Vulnerabilities (Coming Soon)</a>
                           </div>
                           <div class="panel-body">
                               <a href="#">Scan Frequency and Retention (Coming Soon)</a>
                           </div>
                           <div class="panel-body">
                               <a href="#">Advanced Authentication Profiles (Coming Soon)</a>
                           </div>
                       </div>
                   </div>
               </div>
           </div>
           <div class="col-md-4">
               <div class="panel-group">
                   <div class="panel panel-default">
                       <div class="panel-heading">
                           <h2 class="panel-title">
                           <a data-toggle="collapse" href="#collapse-rp">Ransomware Prevention</a>
                           </h2>
                       </div>
                <div id="collapse-rp" class="panel-collapse collapse">
                           <div class="panel-body">
                               <a href="/drill/bnm/1">Basic Network Monitoring</a>
                           </div>
                           <div class="panel-body">
                               <a href="#">Basic Antivirus Monitoring (Coming Soon)</a>
                           </div>
                </div>
                   </div>
               </div>
           </div><div class="col-md-4">
               <div class="panel-group">
                   <div class="panel panel-default">
                       <div class="panel-heading">
                           <h2 class="panel-title">
                           <a data-toggle="collapse" href="#collapse-fm">Firewall Monitoring</a>
                           </h2>
                       </div>
                <div id="collapse-fm" class="panel-collapse collapse">
                           <div class="panel-body">
                               <a href="#">Coming Soon</a>
                           </div>
                </div>
                   </div>
               </div>
           </div>
       </div>
       <div class="row"><div class="col-md-4">
               <div class="panel-group">
                   <div class="panel panel-default">
                       <div class="panel-heading">
                           <h2 class="panel-title">
                           <a data-toggle="collapse" href="#collapse-ac">Antivirus Configuration</a>
                           </h2>
                       </div>
                <div id="collapse-ac" class="panel-collapse collapse">
                           <div class="panel-body">
                               <a href="#">Coming Soon</a>
                           </div>
                </div>
                   </div>
               </div>
           </div><div class="col-md-4">
               <div class="panel-group">
                   <div class="panel panel-default">
                       <div class="panel-heading">
                           <h2 class="panel-title">
                           <a data-toggle="collapse" href="#collapse-st">SIEM Tuning</a>
                           </h2>
                       </div>
                <div id="collapse-st" class="panel-collapse collapse">
                           <div class="panel-body">
                               <a href="#">Coming Soon</a>
                           </div>
                </div>
                   </div>
               </div>
           </div><div class="col-md-4">
               <div class="panel-group">
                   <div class="panel panel-default">
                       <div class="panel-heading">
                           <h2 class="panel-title">
                           <a data-toggle="collapse" href="#collapse-pr">Phishing Response</a>
                           </h2>
                       </div>
                <div id="collapse-pr" class="panel-collapse collapse">
                           <div class="panel-body">
                               <a href="#">Coming Soon</a>
                           </div>
                </div>
                   </div>
               </div>
           </div>
       </div>
   </div>
{% endblock %}