<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <title>WannaCry Pop Quiz</title>
</head>
<body>
    <h1>WannaCry Pop Quiz</h1>
    <p>The WannaCry ransomware was famously stopped by a security researcher that took over its kill-switch domain.</p>
    <p>When the ransomware ran on a victim, it first checked to see if that certain domain was registered.</p>
    <p>The domain name looks like this: iuqerfsodp9ifjaposdfjhgosurijfaewrwergwea[.]com</p>
    <p>This domain is known as an Indicator of Compromise (IOC) for WannaCry, and it's the most famous IOC of 2017.</p>
    <p>DNS resolutions for iuqerfsodp9ifjaposdfjhgosurijfaewrwergwea[.]com should be a major red flag for anyone
        monitoring the network because it implies that WannaCry ransomware is actively running!</p>
    <p>For this <b>pop quiz</b> we don't need to run any malware- we'll just generate DNS lookups for the IOC domain.</p>
    <CENTER>
    <p>Click the button below to start the DNS IOC lookups and the quiz timer.</p>

    <h2><time>00:00:00</time></h2>
    <button id="start">start</button>
    <button id="stop">stop</button>
    <button id="clear">clear</button>

    <script>
            var h2 = document.getElementsByTagName('h2')[0],
            start = document.getElementById('start'),
            stop = document.getElementById('stop'),
            clear = document.getElementById('clear'),
            seconds = 0, minutes = 0, hours = 0,
            t;

            function add() {
                seconds++;
                if (seconds >= 60) {
                    seconds = 0;
                    minutes++;
                    if (minutes >= 60) {
                        minutes = 0;
                        hours++;
                    }
                }

            h2.textContent = (hours ? (hours > 9 ? hours : "0" + hours) : "00") + ":" + (minutes ? (minutes > 9 ? minutes : "0" + minutes) : "00") + ":" + (seconds > 9 ? seconds : "0" + seconds);

            timer();
        }
        function timer() {
            t = setTimeout(add, 1000);
            document.getElementById('iocIframe').src = "http://iuqerfsodp9ifjaposdfjhgosurijfaewrwergwea.com"
        }

        /* Start button */
        start.onclick = function() {
            timer();
        }

        /* Stop button */
        stop.onclick = function() {
            document.getElementById('iocIframe').src = "http://www.valhalla.io"
            clearTimeout(t);
        }

        /* Clear button */
        clear.onclick = function() {
            document.getElementById('iocIframe').src = "http://www.valhalla.io"
            h2.textContent = "00:00:00";
            seconds = 0; minutes = 0; hours = 0;
        }
    </script>
    <br><br>
    <iframe id="iocIframe" src=""></iframe>
    </CENTER>
</body>
</html>