{% extends 'quiz/base.html' %}

{% block content %}
<section>
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-4 order-2">
            <div class="p-5">
              <img class="img-responsive" src="/static/images/solomon_round.PNG" alt="">
            </div>
          </div>
          <div class="col-md-6 order-1">
            <div class="p-5">
                <h2 class="display-4">Hi, I'm Solomon Ingerman- author of "America's Top CISO".</h2>
                <h2>I'll get you more bang for the buck from the <b>vulnerability scanning</b> solution that you <b>already have</b>.</h2>

                <form method="POST" class="form-horizontal">{% csrf_token %}
                    <div class="form-group" align="center">
                        <br>
                        <button type="submit" class="btn btn-success">Let's get started!</button>
                    </div>
                </form>
            </div>
          </div>
        </div>
      </div>
</section>
<br>
<section>
    <div class="container">
         <div class="row">
            <div class="col-md-6">
         <p>I'll take you step by step through vulnerability reports from Nessus, Qualys, Rapid7 or any other format and quickly
        spot what a top cybersecurity expert would look for:</p>
                <ul>
            <li>Ransomware vulnerabilities</li>
            <li>Important systems that are NOT getting scanned</li>
            <li>Scans that are only checking your systems from the outside</li>
            <li>The five favorite questions I ask when I consult some of the top firms in the nation</li>
        </ul>
            </div>
         </div>
        <div class="row">
            <div class="col-md-6">
               <p>Valhalla.io is like a TurboTax for your cybersecurity. Using this site you will be using your existing
        vulnerability scans like an Information Security expert.</p>
        <ul>
            <li>Get 10x more value out of the security solution that you've already bought and used</li>
            <li>Review the reports you receive from consultants like an elite white-hat hacker</li>
            <li>Learn skills that separate the top IT security managers from the rest</li>
        </ul>
                <p>Have any questions? Drop me a line at: singer@valhalla.io</p>
                <p>-Solomon</p>
            </div>
         </div>

    </div>
</section>
{% endblock %}