{% extends 'quiz/base.html' %}

{% block content %}
   <h2>Notorious Vulnerabilities</h2>
   <div class="progress">
      <div class="progress-bar" role="progressbar" aria-valuenow="50"
      aria-valuemin="0" aria-valuemax="100" style="width:50%">
        50% Complete
      </div>
    </div>

    <div class="well">
        <form method="POST" class="form-horizontal">{% csrf_token %}
            <div class="form-group">
                <div class="col-sm-8">
                    <label>You found this many hosts vulnerable to DoublePulsar (the WannaCry 2.0 vulnerability) in the report:</label>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4">{{ form.doublepulsar_count }}</div>
            </div>
            <div class="form-group" >
                <div class="col-sm-4" align="right">
                    <button type="submit" class="btn btn-success">Next</button>
                </div>
            </div>
        </form>
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
             <div class="panel-heading">
               <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">What does this mean?</a>
                </h4>
              </div>
              <div id="collapse1" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>While the WannaCry ransomware made headlines by bringing down key networks used by the UK health
                        system, FedEx, and others, it only used two of the NSA cyberweapons released by The Shadow
                        Brokers. The EternalRocks malware that came afterwards targets seven(!) vulnerabilities and
                        creates the DoublePulsar backdoor vulnerability in the computers it infects.
                    </p>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">How do I check?</a>
                </h4>
              </div>
              <div id="collapse2" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>Search for the following words in your scan report using whatever filter/search capability you have.
                        In most document viewers, CTRL+F will suffice.</p>
                    <ul>
                        <li>70077 (in Qualys reports)</li>
                        <li>99439 (in Nessus reports)</li>
                        <li>DoublePulsar</li>
                    </ul>
                    <p>For each match, you should be able to see the IP address or hostname. Each unique IP or hostname
                        counts as one affected host.</p>
                </div>
              </div>
            </div>
        </div>
    </div>
{% endblock %}