{% extends 'quiz/base.html' %}

{% block content %}
   <h2>Basic Workstation Inventory</h2>
   <div class="progress">
      <div class="progress-bar" role="progressbar" aria-valuenow="60"
      aria-valuemin="0" aria-valuemax="100" style="width:60%">
        60% Complete
      </div>
    </div>

    <div class="well">
        <form method="POST" class="post-form">{% csrf_token %}
            <div class="row">
                <div class="col-sm-4">Only two questions left to complete! Now is the time to open your vulnerability report.</div>
            </div>
            <div class="row">
                <div class="col-sm-4">{{ form.has_report }}</div>
            </div>
            <div class="row">
                <div class="col-sm-4"><button type="submit" class="btn btn-success">Next</button></div>
            </div>
        </form>
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
             <div class="panel-heading">
               <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">What does this mean?</a>
                </h4>
              </div>
              <div id="collapse1" class="panel-collapse collapse">
                <div class="panel-body">Most organizations perform vulnerability scans at least once a year that sweep the network for computers
        and inspect them for obvious security holes. These vulnerability scans will serve as the
        foundation of your inventory.</div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">How does this report look?</a>
                </h4>
              </div>
              <div id="collapse2" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>The front page of your scan report will look something like this:</p>
                    TODO: ADD REPORT IMAGE
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">Where can I get this from?</a>
                </h4>
              </div>
              <div id="collapse3" class="panel-collapse collapse">
                <div class="panel-body">
                   If you don’t have a PDF report copy on your computer, you may need to access your scanner console or your
        scanning vendor’s website. You can also ask your IT team or Managed Service Provider to send you a copy
        of a recent network vulnerability assessment.
                </div>
              </div>
            </div>
        </div>
    </div>
{% endblock %}