{% extends 'quiz/base.html' %}

{% block content %}
   <h2>Basic Workstation Inventory</h2>
   <div class="progress">
      <div class="progress-bar" role="progressbar" aria-valuenow="90"
      aria-valuemin="0" aria-valuemax="100" style="width:90%">
        90% Complete
      </div>
    </div>

    <div class="well">
        <form method="POST" class="form-horizontal">{% csrf_token %}
            <div class="form-group">
                <div class="col-sm-8">
                    <label>My scan’s successful authentication count is:</label>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4">{{ form.workstation_count_auth }}</div>
            </div>
            <div class="form-group" >
                <div class="col-sm-4" align="right">
                    <button type="submit" class="btn btn-success">Next</button>
                </div>
            </div>
        </form>
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
             <div class="panel-heading">
               <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">What does this mean?</a>
                </h4>
              </div>
              <div id="collapse1" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>You’ve almost finished reviewing your workstation inventory, this is last step and the trickiest!</p>
                    <p>Vulnerability scanning is largely dependent on the scanner being able to see “inside” the computers for
        security holes like missing security patches and users with blank passwords. That means that the scanner
        needs to log in at each computer using a valid username and password. This is known as “authentication”
        and failed authentication means that the most critical vulnerabilities may not show up in the report. </p>
                    <p>The only thing worse than not protecting your systems is thinking that you’re protecting them when you’re
        actually not. </p>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">How do I get this?</a>
                </h4>
              </div>
              <div id="collapse2" class="panel-collapse collapse">
                <div class="panel-body">
<p>Most scan solutions will include authentication results, either in the summary or as a separate report.
        For example, the following Qualys scan had two (2) successful logins. </p>
    <img class="img-responsive" src="/static/images/auth-report.jpg" alt="Authentication Report">
    <p>If you are unsure of your authentication results, ask for help in the forums or contact support.</p>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">Pro Tip: Don't let the null sessions fool you.</a>
                </h4>
              </div>
              <div id="collapse3" class="panel-collapse collapse">
                <div class="panel-body">
                  <p>Most scanners will count “null sessions” as successful authentication. This sort of Windows login
        is very restricted and can give a false impression of good logins.</p>
                    <p>You can identify this situation by
        searching the report for the username that the scanner is using to log in to each host. If you don’t see
        that username mentioned in the report, it’s probably failing to log in and you should reduce or zero out
                        your successful authentication count.</p>
                    <p>Null session logins can look like this:</p>
                    <img class="img-responsive" src="/static/images/null-session.jpg" alt="report">
                </div>
              </div>
            </div>
        </div>
    </div>
{% endblock %}