{% extends 'quiz/base.html' %}

{% block content %}
    <h1>Basic Workstation Inventory</h1>

    <p>If you want to take an active role in the security of your network, you must have visibility into your
        network inventory. No way around it. Luckily, there are lots of popular scanning solutions offering a
        different balance between price and support, including Nessus, Qualys, OpenVAS and Rapid7. If you’re agnostic
        and pressed for time, get the Rapid7 Nexpose which has a free 30 day trial. </p>
    <p>If you have a Managed Services Provider and they haven’t done a vulnerability scan for you in the last year-
        strongly consider switching to a more security-conscious provider. We’re happy to recommend some of our
        highly ranked partners for you to consider. </p>
    <p>End Drill</p>

{% endblock %}